      {# This view displays two tables : Nains et Mines #}

      {% extends ('base.html.twig')%}


      {% block title %}Données : nains et mines{% endblock %}

      {% block body %}


      {# First table : Nain #}
        
        {% if nains %}

        <table class="table table-striped table-bordered table-sm" style="text-align:center">

            <th colspan="4" > Nains </th>

          <tr>

        <td width="3%"> id </td>
        <td width="10%"> nom </td>
        <td width="10%"> taille </td>
        <td width="10%"> mine_id </td>


        </tr>
 

        {% for nain in nains%}


        <tr>
        <td> {{ nain.id }} </td>
        <td> {{ nain.nom }} </td>
        <td> {{ nain.taille }} </td>
        <td> {{ nain.mineId }} </td>


        </tr>


        {% endfor %}


        </tbody>

        <div class="pagination">

        {{ knp_pagination_render(nains) }}


        </div>

        </table>

        {% else %}

        <p> No nains to display </p>
        

        {% endif %} 


      {# End of First table : Nain #}



      {# Second table : Mine #}


        {% if mines %}

        <table class="table table-striped table-bordered table-sm" style="text-align:center">

            <th colspan="3"> Mines </th>


        <tr>

        <td width="3%"> id </td>
        <td width="10%"> nom </td>
        <td width="10%"> profondeur </td>

        </tr>


        {% for mine in mines %}


        <tr>
        <td> {{ mine.id }} </td>
          <td> {{ mine.nom }} </td>
        <td> {{ mine.profondeur }} </td>


        </tr>


        {% endfor %}


        </tbody>
        </table>
        {% else %}

        <p> No mines to display </p>
        

        {% endif %} 

        {# End of Second table : Mine #}


      {% endblock %}


